/*body styles*/
body{
    background-color: #F1F1F3;
    font-family: "Fira Sans", serif;
    margin: 120px 160px;
}

/*header styles*/
header{
    display: flex;
    justify-content: space-evenly;
    background-color: #C6E4D6;
    align-items: center;
    padding: 80px 60px;
    border-radius: 24px;
}
.header-h3{
    color: #0E0E0E;
    opacity: 50%;
    margin: 0%;
}
.header-h1{
    width: 60%;
    margin-top: 0%;
}
.header-btn{
    font-weight: semibold;
    background-color: #006A50;
    color: #ffffff;
    padding: 17px 34px;
    border-radius: 8px;
    border: none;
}
.header-img{
    width: 474px;
    height: 400px;
}

/*main styles*/
main{
    margin-top: 80px;
}
.main-h3{
    color: #0E0E0E;
    opacity: 80%;
}
.main-p{
    color: #0E0E0E;
    opacity: 70%;
}

/*card styles*/
.cards{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.card{
    border-radius: 16px;
    padding: 32px;
}
.c1{
    background-color: rgba(84, 144, 245, 0.2);
    width: 411px;
}
.c2{
    background-color: #C6E4D6;
    width: 411px;
}
.c3{
    background-color: #F7EBCF;
    width: 411px;
}

.main-btn{
    font-weight: semibold;
    color: #ffffff;
    padding: 11px 20px;
    border-radius: 8px;
    border: none;
}
.mbtn1{
    background-color: #5490F5;
}
.mbtn2{
    background-color: #09A15C;
}
.mbtn3{
    background-color: #FFC239;
}

/*yousuf styles*/
.yousuf{
    background-color: #ffffff;
    padding: 48px 24px;
    margin-top: 32px;
    border-radius: 16px;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 24px 41px;
}
.quote-p{
    color: rgba(14, 14, 14, 0.8)
}

/*news styles*/
.recent{
    margin-top: 80px;
}
.news-1{
    display: flex;
    gap: 32px;
    justify-content: space-evenly;
    background-color: #ffffff;
    padding: 48px;
    border-radius: 24px;
}
.news-2{
    display: flex;
    flex-direction: row-reverse;
    gap: 32px;
    justify-content: space-evenly;
    background-color: #ffffff;
    padding: 48px;
    border-radius: 24px;
    margin-top: 24px;
}
.news-img{
   border-radius: 24px;
}
.news-h2{
    color: #0E0E0E;
    opacity: 80%;
    margin-bottom: 0%;
}
.news-logo{
    display: block;
    margin-bottom: 12px;
}
time{
    color: #0E0E0E;
    opacity: 70%;
}
.news-p{
    color: #0E0E0E;
    opacity: 70%;
}
.news-btn{
    font-weight: semibold;
    color: #ffffff;
    padding: 13px 26px;
    border-radius: 8px;
    border: none;
    background-color: #006A50;
}